<div class="card">
    <h3>🔍 Inconsistencias</h3>
    <p>Verificar consistencia del conocimiento clínico.</p>

    <a href="{% url 'deteccion_inconsistencias' %}" class="btn btn-primary">Gestionar Inconsistencias 🔍</a>

    <br><minisparador style="margin-top: 5px; display: block;"></minisparador>

    <a href="{% url 'exportar_reporte_texto' %}" style="color: #7f8c8d; font-size: 0.9rem;">Descargar Reporte PDF 📄</a>
</div>

        <div style="margin: 20px 0; text-align: center;">
            <a href="{% url 'exportar_reporte_real' %}" style="display: inline-block; background-color: #dc3545; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 1rem; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
                📊 Generar Reporte de Inconsistencias (PDF)
            </a>
        </div>
        